{extend name="../../base/view/common/base" /}
<!-- 主体 -->
{block name="body"}
<div class="p-3">
    <table class="layui-hide" id="test" lay-filter="test"></table>
</div>
<script type="text/html" id="toolbarDemo">
  <div class="layui-btn-container">
  	<button class="layui-btn layui-btn-sm addNew" type="button">+ 承認フロー追加</button>
  </div>
</script>
{/block}
<!-- /主体 -->

<!-- 脚本 -->
{block name="script"}
	<script>
	const moduleInit = ['tool'];
	function gouguInit() {
		var table = layui.table, tool = layui.tool, form = layui.form;
		layui.pageTable = table.render({
			elem: '#test'
			,toolbar: '#toolbarDemo'
			,defaultToolbar: false
			,title:'承認フローリスト'
			,url: "/home/flow/index"
			,page: false //开启分页
			,limit: 20
			,cellMinWidth: 80
			,cols: [[
					{field:'id',width:80, title: 'ID番号', align:'center'}
					,{field:'name',title: '承認フロー類別',width:180}
					,{field:'check_type',title: '承認フロー設定', align:'center',width:120,templet:function(d){
						var html = '<span class="green">固定承認フロー</span>';
						if(d.check_type==2){
							html = '<span class="blue">自由承認フロー</span>';
						}
						if(d.check_type==3){
							html = '<span class="yellow">バックトラック可能な承認フロー</span>';
						}
						return html;
					}}
					,{field:'type_name',title: '応用モジュール',width:120, align:'center'}
					,{field:'flow_cate',title: '承認類型',width:100, align:'center'}
					,{field:'department',title: '適用部門'}
					,{field:'username',title: '最終更新者',width:90,align:'center'}
					,{field:'status', title: 'ステータス',width:100,align:'center',templet: function(d){
						var html1='<span class="green">正常</span>';
						var html2='<span class="yellow">無効</span>';
						if(d.status==1){
							return html1;
						}
						else{
							return html2;
						}
					}}
					,{width:100,title: '操作', align:'center',templet: function(d){
						var html='';
						var btn='<a class="layui-btn layui-btn-normal  layui-btn-xs" lay-event="edit">編集</a>';
						var btn1='<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="disable">無効</a>';
						var btn2='<a class="layui-btn layui-btn-xs" lay-event="open">有効化</a>';
						if(d.status==1){
							html = '<div class="layui-btn-group">'+btn+btn1+'</div>';
						}
						else{
							html = '<div class="layui-btn-group">'+btn+btn2+'</div>';
						}
						return html;
					}}
				]]
			});
			
			table.on('tool(test)',function (obj) {
				if(obj.event === 'edit'){		
					tool.side('/home/flow/add?id='+obj.data.id);
				}
				if(obj.event === 'disable'){
					layer.confirm('このモジュールを無効しますか?', {icon: 3, title:'ヒント'}, function(index){
						let callback = function (e) {
							layer.msg(e.msg);
							if (e.code == 0) {
								layui.pageTable.reload();
							}
						}
						tool.post("/home/flow/check", { id: obj.data.id,status: 0 }, callback);
						layer.close(index);						
					});
				}
				if(obj.event === 'open'){
					layer.confirm('このモジュールを有効になりますか?', {icon: 3, title:'ヒント'}, function(index){
						let callback = function (e) {
							layer.msg(e.msg);
							if (e.code == 0) {
								layui.pageTable.reload();
							}
						}
						tool.post("/home/flow/check", { id: obj.data.id,status: 1 }, callback);
						layer.close(index);	
					});
				}
			});
			
			$('body').on('click','.addNew',function(){
				tool.side("/home/flow/add");
				return false;
			});
		}
	</script>
{/block}
<!-- /脚本 -->