{extend name="../../base/view/common/base" /}
{block name="style"}
<style>
.layui-unselect dl {max-height:188px;}
</style>
{/block}
<!-- 主体 -->
{block name="body"}
<div class="p-3">
	<form class="layui-form gg-form-bar border-x border-t" lay-filter="barsearchform">
		<div id="barDate" class="layui-input-inline">
			<div class="layui-input-inline" style="width:110px; margin-bottom:0">
				<input type="text" class="layui-input" id="start_time" placeholder="時間範囲を選択してください" readonly name="start_time">
			</div>
			~
			<div class="layui-input-inline" style="width:110px;margin-bottom:0">
				<input type="text" class="layui-input" id="end_time" placeholder="時間範囲を選択してください" readonly name="end_time">
			</div>
		</div>
		<div class="layui-input-inline" style="width:110px;">
			<input type="text" name="username"  placeholder="社員を選択してください" class="layui-input" readonly data-event="select"/>
			<input type="text" name="uid" value="" style="display:none" />	
		</div>
		<div class="layui-input-inline" style="width:220px;">
			<input type="text" name="keywords"  placeholder="仕事内容を入力してください" class="layui-input"/>
		</div>	
		<div class="layui-input-inline" style="width:200px;">
			<button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="webform"><i class="layui-icon layui-icon-search mr-1"></i>検索</button>
			<button type="reset" class="layui-btn layui-btn-reset" lay-filter="reset">クリア</button>
		</div>
	</form> 
	<div>
		<table class="layui-hide" id="test" lay-filter="test"></table>
	</div>
</div>
<script type="text/html" id="toolbarDemo">
  <div class="layui-btn-container">
  	<button class="layui-btn layui-btn-sm addLoan" type="button">+ 新規タスク</button>
  </div>
</script>
{/block}
<!-- /主体 -->

<!-- 脚本 -->
{block name="script"}
	<script>
	const moduleInit = ['tool','employeepicker','oaSchedule'];
	function gouguInit() {
		var form = layui.form,table = layui.table,tool=layui.tool, employeepicker = layui.employeepicker,laydate = layui.laydate,work = layui.oaSchedule;	  
		//日期范围
		laydate.render({
			elem: '#barDate',
			range: ['#start_time', '#end_time'],
			rangeLinked:true
		});

		$('[lay-filter="clear"]').on('click',function(){
			setTimeout(function(){
				$('[lay-filter="webform"]').click();
			},10)			
		})
		
		// 选择员工
		$('body').on('click','[data-event="select"]',function(){
			var that = $(this);
			var names = that.val(), ids = $('[name="uid"]').val();
			employeepicker.init({
				ids: ids,
				names: names,
				type: 0,
				department_url: "/api/index/get_department_tree",
				employee_url: "/api/index/get_employee",
				callback: function (ids, names, dids, departments) {
					$('[name="uid"]').val(ids);
					that.val(names);
					$('[lay-filter="webform"]').click();
				}
			})
		});

		//监听搜索提交
		form.on('submit(webform)', function(data){
			let f=data.field;
			layui.scheduleTable.reload({where:{keywords:f.keywords,start_time:f.start_time,end_time:f.end_time,uid:f.uid},page:{curr:1}});
			return false;
		});

		layui.scheduleTable = table.render({
			elem: '#test'
			,toolbar: '#toolbarDemo'
			,defaultToolbar:['filter', {title:'エクスポート',layEvent: 'LAYTABLE_EXCEL',icon: 'layui-icon-export'}]
			,title:'仕事記録リスト'
			,url: "/oa/schedule/index"
			,page: true //开启分页
			,limit: 20
			,cellMinWidth: 80
			,cols: [[ //表头
				{field: 'id', title: '連番',fixed: 'left', width:80, align:'center'}
				,{field: 'labor_type_string', title: 'タスクロケーション', align:'center',width:180,templet:function(d){
					var html='';
					if(d.labor_type==0){
						html='<span class="layui-color-'+d.labor_type+'">-</span>';
					}
					else if(d.labor_type == 1){
						html='<span class="layui-color-'+d.labor_type+'">デスクワーク</span>';
					}
					else if(d.labor_type == 2){
						html='<span class="layui-color-'+d.labor_type+'">フィールドワーク</span>';
					}
					return html;
				}}
				,{field: 'work_cate', title: 'タスク種類', align:'center',width:100}
				,{field: 'start_time', title: 'タスク時間範囲', align:'center',width:186,templet:function(d){
					var html=d.start_time+'から'+d.end_time;
					return html;
				}}
				,{field: 'labor_time', title: 'タスク時間', align:'center',width:120}
				,{field: 'title', title: 'タスク内容'}
				,{field: 'create_time', title: '记录时间', align:'center',width:200}
				,{field: 'right', title: '操作',fixed:'right', width:200, align:'center',templet:function(d){
					var html='<div class="layui-btn-group">';
					html+='<button class="layui-btn layui-btn-xs layui-btn-danger" lay-event="time">タスク時間調整</button><button class="layui-btn layui-btn-xs layui-btn-normal"  lay-event="view">表示</button>';
					if(d.admin_id==login_admin){
						html+='<button class="layui-btn layui-btn-xs" lay-event="edit">編集</button>';
					}
					html+='</div>';
					return html;
				}}
			]]
		});
		
		//表头工具栏事件
		table.on('toolbar(test)', function(obj){
			if(obj.event === 'LAYTABLE_EXCEL'){
				var formSelect = form.val('barsearchform');
				formSelect.limit=99999;
				$.ajax({
					url: '/oa/schedule/index',
					data: formSelect,
					success:function(res){
						table.exportFile('test', res.data,'xls');
					}
				});
				return;
			}
		})

		//更改工时
		table.on('tool(test)', function(obj){
			var data = obj.data;
			if(obj.event === 'time'){
			  var content='<form class="layui-form" style="width:568px">\
							<table class="layui-table" style="margin:15px 15px 0;">\
								<tr>\
									<td class="layui-td-gray-2">タスク時間範囲<font>*</font></td>\
									<td>\
										<input id="start_time_a" name="start_time_a" style="width:120px; display:inline-block;" autocomplete="off" class="layui-input" value="" readonly lay-verify="required" lay-reqText="選択してください"><div style="display: inline-block; margin-left:5px; width: 80px;"><select lay-filter="start_time_b" id="start_time_b"></select></div> から <input id="end_time_a" name="end_time_a" style="width:120px; display:inline-block;" autocomplete="off" class="layui-input" value="" readonly lay-verify="required" lay-reqText="選択してください"><div style="display: inline-block; margin-left:5px; width: 80px;"><select lay-filter="end_time_b" id="end_time_b"></select></div>\
									</td>\
								</tr>\
							</table>\
						</form>';
				layer.open({
					type:1,
					title:'タスク時間調整',
					area:['600px','388px'],
					content:content,
					success:function(){
						//日期时间范围
						laydate.render({
							elem: '#start_time_a',
							type: 'date',
							max:0,
							format: 'yyyy-MM-dd',
							showBottom: false,
							done:function(a,b,c){
								$('#end_time_a').val(a);
							}
						});

						//日期时间范围
						laydate.render({
							elem: '#end_time_a',
							type: 'date',
							max:0,
							format: 'yyyy-MM-dd',
							showBottom: false,
							done:function(a,b,c){
								$('#start_time_a').val(a);
							}
						});
						$('#start_time_b,#end_time_b').empty();
						
						var hourArray=[];
						for(var h=0;h<24;h++){
							var t=h<10?'0'+h:h
							var t_1=t+':00',t_2=t+':15',t_3=t+':30',t_4=t+':45';
							hourArray.push(t_1,t_2,t_3,t_4);
						}
						
						var html_1='', html_2='',def_h1='09:00',def_h2='09:30';
						for(var s=0;s<hourArray.length;s++){
							var check_1='',check_2='';
							if(hourArray[s]==def_h1){
								check_1='selected';
							}
							if(hourArray[s]==def_h2){
								check_2='selected';
							}
							html_1 += '<option value="'+hourArray[s]+'" '+check_1+'>'+hourArray[s]+'</option>';
							html_2 += '<option value="'+hourArray[s]+'" '+check_2+'>'+hourArray[s]+'</option>';
						}
						
						$('#start_time_b').append(html_1);
						$('#end_time_b').append(html_2);
						form.render();
					
					},
					btn: ['確定'],
					btnAlign: 'c',
					yes: function(idx){
						let start_time_a = $('#start_time_a').val();
						let end_time_a = $('#end_time_a').val();
						let start_time_b = $('#start_time_b').val();
						let end_time_b = $('#end_time_b').val();
						if(start_time_a=='' || end_time_a==''){
							layer.msg('タスク時間範囲を選択してください');
							return;
						}
						$.ajax({
							url: "/oa/schedule/update_labor_time",
							type:'post',
							data:{
								id:data.id,
								admin_id:data.admin_id,
								start_time_a:start_time_a,
								end_time_a:end_time_a,
								start_time_b:start_time_b,
								end_time_b:end_time_b
							},
							success:function(e){
								layer.msg(e.msg);
								if(e.code==0){								
									layer.close(idx);								
									layui.scheduleTable.reload();
								}
							}
						})			
					}
				})
			}
			else if(obj.event === 'edit'){
				work.add(0, obj.data);	
			}
			else if(obj.event === 'view'){
				work.view(obj.data);				
			}
		});
		  
		$('body').on('click','.addLoan',function(){
			work.add(0,{'id':0});	
		});	  
	}
		
	</script>
{/block}
<!-- /脚本 -->