{extend name="../../base/view/common/base" /}
{block name="body"}
<form class="layui-form p-4">
	<h3 class="pb-3">新規タスク</h3>
	<table class="layui-table layui-table-form">
		<tr>
			<td class="layui-td-gray">タイトル<font>*</font></td>
			<td colspan="3">
				<input type="text" name="title" lay-verify="required" lay-reqText="タイトルを入力してください" placeholder="タイトルを入力してください" class="layui-input" value="">
			</td>
			<td class="layui-td-gray">優先度<span style="color: red">*</span></td>
			<td>
				<select name="priority" lay-verify="required" lay-reqText="優先度を選択してください">
					<option value="1" selected>低</option>
					<option value="2">中</option>
					<option value="3">高</option>
					<option value="4">緊急</option>
				</select>
			</td>
		</tr>
		<tr>
			<td class="layui-td-gray">タスク分類<span style="color: red">*</span></td>
			<td>
				<select name="cate" lay-verify="required" lay-reqText="作業類型を選択してください">
					<option value="">選択してください</option>
					{volist name="cate" id="vo"}
					<option value="{$vo.id}">{$vo.title}</option>
					{/volist}
				</select>
			</td>
			<td class="layui-td-gray">予定工数<span style="color: red">*</span></td>
			<td>
				<input type="text" name="plan_hours" lay-verify="required" lay-reqText="予定工数を入力してください" placeholder="予定工数を入力してください"
					class="layui-input" value="">
			</td>
			<td class="layui-td-gray-2">予定終了日<span style="color: red">*</span></td>
			<td>
				<input type="text" id="end_time" name="end_time" readonly lay-verify="required" lay-reqText="終了日を選択してください"
					placeholder="日付を選択してください" class="layui-input" value="">
			</td>
		</tr>
		<tr>
			<td class="layui-td-gray">担当者</td>
			<td>
				<input type="text" name="director_name" placeholder="選択してください" readonly class="layui-input picker-one" value="">
				<input type="hidden" name="director_uid" readonly value="">
			</td>
			{empty name="$project_id"}
			<td class="layui-td-gray">確認者</td>
			<td>
				<input type="text" name="assist_admin_names" placeholder="選択してください" readonly class="layui-input picker-more" value="">
				<input type="hidden" name="assist_admin_ids" readonly value="">
			</td>
			<td class="layui-td-gray">関連プロジェクト</td>
			<td>
				<select id="projectId" name="project_id" lay-filter="project_id">
					<option value="">関連プロジェクトを選択してください</option>
					{volist name=":get_project()" id="v"}
					<option value="{$v.id}">{$v.name}</option>
					{/volist}
				</select>
			</td>
			{else/}
			<td class="layui-td-gray">確認者</td>
			<td colspan="3">
				<input type="hidden" name="project_id" readonly value="{$project_id}">
				<input type="text" name="assist_admin_names" placeholder="選択してください" readonly class="layui-input picker-more" value="">
				<input type="hidden" name="assist_admin_ids" readonly value="">
			</td>
			{/empty}
		</tr>
		<tr>
			<td class="layui-td-gray" style="vertical-align:top;">詳細説明<font>*</font></td>
			<td colspan="5">
			  <textarea name="content" placeholder="内容を入力してください" class="layui-textarea" id="container" style="border:0;padding:0"></textarea>
			</td>
		</tr>
	</table>
	<div style="padding: 10px 0">
		<input type="hidden" name="id" value="0" />
		<button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="webform">確定</button>
		<button type="reset" class="layui-btn layui-btn-primary">クリア</button>
	</div>
</form>
{/block}
<!-- /主体 -->

<!-- 脚本 -->
{block name="script"}
<script>
	const moduleInit = ['tool','tinymce','employeepicker'];
	function gouguInit() {
		var form = layui.form,tool=layui.tool, laydate = layui.laydate, employeepicker = layui.employeepicker;
		
		//编辑器初始化
		var editor = layui.tinymce;
		var edit = editor.render({
			selector: "#container",
			images_upload_url: '/api/index/upload/sourse/tinymce',//图片上传接口
			height: 500
		});

		//日期范围
		laydate.render({
			elem: '#end_time'
		});

		//监听提交
		form.on('submit(webform)', function (data) {
		  data.field.content = tinyMCE.editors['container'].getContent();
				if (data.field.content == '') {
					layer.msg('任務説明を修正してください。');
					return false;
				}
		  let callback = function (e) {
				layer.msg(e.msg);
				parent.layui.taskTable.reload();
				if (e.code == 0) {
					tool.sideClose(1000);
				}
			}
			tool.post("/project/task/add", data.field, callback);
			return false;
		});

  }

</script>
{/block}