{extend name="../../base/view/common/base" /}
<!-- 主体 -->
{block name="body"}
<form class="layui-form p-4">
	<h3 class="pb-3">顧客編集</h3>
    <table class="layui-table layui-table-form">
      <tr>
        <td class="layui-td-gray">顧客名<font>*</font></td>
        <td colspan="3"><input type="text" name="name" lay-verify="required" value="{$detail.name}" lay-reqText="顧客名を入力してください" autocomplete="off" placeholder="顧客名を入力してください" class="layui-input"></td>
		<td class="layui-td-gray">チャンネル<font>*</font></td>
        <td>
			<select name="source_id" lay-verify="required" lay-reqText="チャンネルを選択してください">
            <option value="">チャンネルを選択してください</option>
            {volist name=":customer_source()" id="v"}
            <option value="{$v.id}" {eq name="$v.id" value="$detail.source_id"} selected{/eq}>{$v.title}</option>
            {/volist}
          </select>
        </td>
      </tr>
      <tr>
        <td class="layui-td-gray">連絡先<font>*</font></td>
        <td colspan="3">
          <input type="text" name="address" value="{$detail.address}" autocomplete="off" lay-verify="required" lay-reqText="連絡先を入力してください" placeholder="連絡先を入力してください" class="layui-input">
        </td>
	    <td class="layui-td-gray">顧客レベル<font>*</font></td>
        <td>
          <select name="grade_id" lay-verify="required" lay-reqText="顧客レベルを選択してください">
            <option value="">顧客レベルを選択してください</option>
            {volist name=":customer_grade()" id="v"}
            <option value="{$v.id}" {eq name="$v.id" value="$detail.grade_id"} selected{/eq}>{$v.title}</option>
            {/volist}
          </select>
        </td>
      </tr>
	 <tr>
        <td class="layui-td-gray">所属業界<font>*</font></td>
        <td>
          <select name="industry_id" lay-verify="required" lay-reqText="所属業界を選択してください">
            <option value="">所属業界を選択してください</option>
            {volist name=":get_industry()" id="v"}
            <option value="{$v.id}" {eq name="$v.id" value="$detail.industry_id"} selected{/eq}>{$v.title}</option>
            {/volist}
          </select>
        </td>
	    <td class="layui-td-gray">顧客意向</td>
        <td>
          <select name="intent_status">
            <option value="">顧客意向を選択してください</option>
            <option value="1" {eq name="$detail.intent_status" value="1"} selected{/eq}>意向不明</option>
			<option value="2" {eq name="$detail.intent_status" value="2"} selected{/eq}>意向はっきりしない</option>
			<option value="3" {eq name="$detail.intent_status" value="3"} selected{/eq}>意向普通</option>
			<option value="4" {eq name="$detail.intent_status" value="4"} selected{/eq}>意向強烈</option>
          </select>
        </td>
		<td class="layui-td-gray">顧客状態</td>
        <td>
          <select name="status">
            <option value="">顧客状態を選択</option>
				<option value="1" {eq name="$detail.status" value="1"} selected{/eq}>新規顧客</option>
				<option value="2" {eq name="$detail.status" value="2"} selected{/eq}>打ち合わせ顧客</option>
				<option value="3" {eq name="$detail.status" value="3"} selected{/eq}>正式顧客</option>
				<option value="4" {eq name="$detail.status" value="4"} selected{/eq}>失われた顧客</option>
				<option value="5" {eq name="$detail.status" value="5"} selected{/eq}>成約済み顧客</option>
          </select>
        </td>
      </tr>
	  {eq name="$sea" value="0"}
	  <tr>
        <td class="layui-td-gray">所属社員<font>*</font></td>
        <td>
			<div class="layui-input-inline" style="width:50%;">
				<input type="text" name="belong_name" value="{$detail.belong_name}" autocomplete="off" readonly lay-verify="required" lay-reqText="顧客所属者を選択してください" placeholder="顧客所属者を選択してください" class="layui-input">
			</div>
			<div class="layui-input-inline gray" style="width:42%;">部門：<span id="department_name">{$detail.belong_department}</span></div>
          <input type="hidden" name="belong_uid" value="{$detail.belong_uid}">
          <input type="hidden" name="belong_did" value="{$detail.belong_did}">
        </td>
		<td class="layui-td-gray">共有社員</td>
         <td colspan="3">
			<input type="text" name="share_names" value="{$detail.share_names}" autocomplete="off" readonly placeholder="共有社員を選択してください" class="layui-input picker-more">
			<input type="hidden" name="share_ids" value="{$detail.share_ids}">
        </td>
      </tr>
	  {/eq}
	  <tr>
		<td class="layui-td-gray" style="vertical-align:top">顧客紹介<font>*</font></td>
        <td colspan="5">
          <textarea name="content" placeholder="顧客紹介を入力してください" lay-verify="required" lay-reqText="顧客紹介を入力してください" class="layui-textarea">{$detail.content}</textarea>
        </td>
      </tr>
	  <tr>
		<td class="layui-td-gray" style="vertical-align:top">運営事業</td>
        <td colspan="5">
          <textarea name="market" placeholder="主な運営事業を入力してください" class="layui-textarea">{$detail.market}</textarea>
        </td>
      </tr>
	   <tr>
		<td class="layui-td-gray" style="vertical-align:top">備考情報</td>
        <td colspan="5">
          <textarea name="remark" placeholder="備考情報を入力してください" class="layui-textarea">{$detail.remark}</textarea>
        </td>
      </tr>
    </table>
    <div class="py-3">
	   <input type="hidden" name="id" value="{$detail.id}">
	   <input type="hidden" name="scene" value="edit">
      <button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="webform">保存</button>
      <button type="reset" class="layui-btn layui-btn-primary">クリア</button>
    </div>
</form>
{/block}
<!-- /主体 -->

<!-- 脚本 -->
{block name="script"}
<script>
	const moduleInit = ['tool','employeepicker'];
	function gouguInit() {
		var form = layui.form,tool=layui.tool,employeepicker = layui.employeepicker;
		
		//选择归属人人弹窗	
		$('body').on('click','[name="belong_name"]',function () {
			var ids=$('[name="belong_uid"]').val(),names=$('[name="belong_name"]').val();
			employeepicker.init({
				ids:ids,
				names:names,
				type:0,
				department_url: "/api/index/get_department_tree",
				employee_url: "/api/index/get_employee",
				callback:function(ids,names,dids,departments){
					$('[name="belong_uid"]').val(ids);
					$('[name="belong_name"]').val(names);
					$('[name="belong_did"]').val(dids);
					$('#department_name').html(departments);
				}
			});
		});	

		//监听提交
		form.on('submit(webform)', function (data) {
			let callback = function (e) {
				layer.msg(e.msg);
				if (e.code == 0) {
					tool.sideClose(1000);
				}
			}
			tool.post("/customer/index/add", data.field, callback);
			return false;
		});

	}
</script>
{/block}
<!-- /脚本 -->