{extend name="../../base/view/common/base" /}
<!-- 主体 -->
{block name="body"}
<div class="p-3">
	<form class="layui-form gg-form-bar border-x border-t">
		<div class="layui-input-inline">
			<select name="cate_id">
				<option value="">分類を選択してください</option>
				{volist name=":set_recursion(article_cate())" id="v"}
				<option value="{$v.id}">{$v.title}</option>
				{/volist}
			</select>
		</div>
		<div class="layui-input-inline" style="width:300px;">
			<input type="text" name="keywords" placeholder="タイトル/分類/説明/内容" class="layui-input" autocomplete="off" />
		</div>
		<div class="layui-input-inline" style="width:180px;">
			<button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="webform"><i class="layui-icon layui-icon-search mr-1"></i>検索</button>
			<button type="reset" class="layui-btn layui-btn-reset" lay-filter="reset">クリア</button>
		</div>
	</form>
	<table class="layui-hide" id="test" lay-filter="test"></table>
</div>

<script type="text/html" id="barDemo">
<div class="layui-btn-group"><span class="layui-btn layui-btn-normal layui-btn-xs" lay-event="view">表示</span></div>
</script>
{/block}
<!-- /主体 -->

<!-- 脚本 -->
{block name="script"}

<script>
	const moduleInit = ['tool'];
	function gouguInit() {
		var table = layui.table, tool = layui.tool ,form = layui.form;
		layui.pageTable = table.render({
			elem: '#test',
			title: 'ドキュメントリスト',
			defaultToolbar: false,
			url: "/article/index/index", //データインターフェース
			cellMinWidth: 80,
			page: true, //ページネーションを有効にする
			limit: 20,
			cols: [
				[ //テーブルヘッダー
					{
						field: 'id',
						title: '番号',
						align: 'center',
						hide: true ,
						width: 80
					}, {
						field: 'sort',
						title: '順番',
						align: 'center',
						hide: true ,
						width: 66
					}, {
						field: 'cate_title',
						title: '分類',
						align: 'left',
					}, {
						field: 'title',
						title: 'タイトル',
						templet: '<div><a data-href="/article/index/view/id/{{d.id}}.html" class="side-a">{{d.title}}</a></div>'
					},{
						field: 'read',
						title: '閲覧数',
						align: 'center',
						width: 80
					}, {
						field: 'user',
						title: '投稿者',
						align: 'center',
						width: 80
					}, {
						field: 'department',
						title: '部門',
						align: 'center',
						width: 100
					}
				]
			]
		});

		//検索のサブミットを監視する
		form.on('submit(webform)', function(data) {
			layui.pageTable.reload({
				where: {
					keywords: data.field.keywords,
					cate_id: data.field.cate_id
				},
				page: {
					curr: 1
				}
			});
			return false;
		});
	}
</script>
{/block}
<!-- /脚本 -->
