{extend name="../../base/view/common/base" /}
<!-- 主体 -->
{block name="body"}
<form class="layui-form p-4">
	<h3 class="pb-3">営業活動追加</h3>
    <table class="layui-table layui-table-form">
      <tr>
        <td class="layui-td-gray">顧客社名</td>
        <td colspan="3">{$customer_name}</td>
		<td class="layui-td-gray-2">連絡先<font>*</font></td>
        <td>
          <select name="contact_id" lay-verify="required" lay-reqText="連絡先を選択してください">
            <option value="">選択してください</option>
            {volist name=":customer_contact($customer_id)" id="v"}
            <option value="{$v.id}">{$v.name}</option>
            {/volist}
          </select>
        </td>
      </tr>
      <tr>
	    <td class="layui-td-gray">案件タイトル<font>*</font></td>
        <td colspan="3">
           <input type="text" name="title" autocomplete="off" lay-verify="required" lay-reqText="案件タイトルを入力してください" placeholder="案件タイトルを入力してください" class="layui-input">
        </td>
        <td class="layui-td-gray">発生日時<font>*</font></td>
        <td>
          <input type="text" id="discovery_time" name="discovery_time" readonly autocomplete="off" lay-verify="required" lay-reqText="発生日時を選択してください" placeholder="発生日時を選択してください" class="layui-input">
        </td>
      </tr>
	  <tr>
	    <td class="layui-td-gray">営業段階<font>*</font></td>
        <td>
          <select name="stage" lay-verify="required" lay-reqText="選択してください">
            <option value="">選択してください</option>
            {volist name=":trace_stage()" id="v"}
            <option value="{$key}">{$v}</option>
            {/volist}
          </select>
        </td>
		<td class="layui-td-gray">予定金額<font>*</font></td>
        <td>
          <input type="text" name="expected_amount" autocomplete="off" lay-verify="required|number" lay-reqText="予定金額を入力してください" placeholder="予定金額を入力してください" class="layui-input">
        </td>
        <td class="layui-td-gray-2">予定契約時間<font>*</font></td>
        <td>
          <input type="text" id="expected_time" name="expected_time" readonly autocomplete="off" lay-verify="required" lay-reqText="予定契約時間を選択してください" placeholder="予定契約時間を選択してください" class="layui-input">
        </td>
      </tr>
	  <tr>
		<td class="layui-td-gray" style="vertical-align:top">案件詳細<font>*</font></td>
        <td colspan="5">
          <textarea name="content" placeholder="案件詳細を入力してください" lay-verify="required" lay-reqText="案件詳細を入力してください" class="layui-textarea"></textarea>
        </td>
      </tr>
      <tr>        
        <td class="layui-td-gray">担当者<font>*</font></td>
        <td>
          <input type="text" name="belong_name" readonly autocomplete="off" placeholder="担当者を選択してください" class="layui-input picker-one">
		  <input type="hidden" name="belong_uid" lay-verify="required" lay-reqText="担当者を選択してください">
        </td>
		<td class="layui-td-gray">確認者</td>
        <td colspan="3">
          <input type="text" name="assist_names" autocomplete="off" placeholder="確認者を選択してください" class="layui-input picker-more">
		  <input type="hidden" name="assist_ids">
        </td>
      </tr>
    </table>
    <div class="py-3">
	   <input type="hidden" name="cid" value="{$customer_id}">
      <button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="webform">確定</button>
      <button type="reset" class="layui-btn layui-btn-primary">クリア</button>
    </div>
</form>
{/block}
<!-- /主体 -->

<!-- 脚本 -->
{block name="script"}
<script>
	const moduleInit = ['tool','employeepicker'];
	function gouguInit() {
		var form = layui.form,tool=layui.tool,laydate = layui.laydate,employeepicker=layui.employeepicker;
		laydate.render({
			elem: '#discovery_time'
		});
		laydate.render({
			elem: '#expected_time'
			,min: 0
		});
		
		//监听提交
		form.on('submit(webform)', function (data) {
			let callback = function (e) {
				layer.msg(e.msg);
				if (e.code == 0) {
					tool.sideClose(1000);
				}
			}
			tool.post("/customer/chance/chance_add", data.field, callback);
			return false;
		});

	}
</script>
{/block}
<!-- /脚本 -->