{extend name="../../base/view/common/base" /}
<!-- 主体 -->
{block name="body"}
<div class="p-3">
	<form class="layui-form gg-form-bar border-x border-t">
		<div class="layui-input-inline" style="width:200px;">
			<input type="text" name="keywords" placeholder="キーワードを入力してください" class="layui-input" autocomplete="off" />
		</div>
		<div class="layui-input-inline" style="width:120px;">
			<select name="stage">
            <option value="">現段階</option>
            {volist name=":trace_stage()" id="v"}
            <option value="{$key}">{$v}</option>
            {/volist}
          </select>
		</div>
		<div class="layui-input-inline" id="selectDate">
			<div class="layui-input-inline" style="width:110px; margin-bottom:0">
			  <input type="text" autocomplete="off" name="start_date" id="startDate" class="layui-input" placeholder="予定契約時間">
			</div>
			<div class="layui-input-inline">-</div>
			<div class="layui-input-inline" style="width:110px; margin-bottom:0;">
			  <input type="text" autocomplete="off" name="end_date" id="endDate" class="layui-input" placeholder="予定契約時間">
			</div>
		</div>
		<div class="layui-input-inline" style="width:120px;">
			<input type="text" name="username" placeholder="担当者を選択してください" class="layui-input picker-one" autocomplete="off" />
			<input type="text" name="uid" style="display:none" />
		</div>
		<div class="layui-input-inline" style="width:180px;">
			<button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="webform"><i class="layui-icon layui-icon-search mr-1"></i>検索</button>
			<button type="reset" class="layui-btn layui-btn-reset" lay-filter="reset">クリア</button>
		</div>
	</form>
    <table class="layui-hide" id="test" lay-filter="test"></table>
</div>
{/block}
<!-- /主体 -->

<!-- 脚本 -->
{block name="script"}
	<script>
	const moduleInit = ['tool','employeepicker'];
	function gouguInit() {
		var table = layui.table, tool = layui.tool, form = layui.form,laydate=layui.laydate;
		
		//日期范围
		laydate.render({
			elem: '#selectDate'
			,range: ['#startDate', '#endDate']
			,rangeLinked:true
		});
		
		layui.pageTable = table.render({
			elem: '#test'
			,toolbar: '#toolbarDemo'
			,title:'営業活動リスト'
			,url: "/customer/chance/index"
			,cellMinWidth: 80
			,page: true //开启分页
			,limit: 20
			,cols:  [[
					{field: 'id', title: '番号', width: 80, align: 'center'}
					,{field:'belong_name',title: '担当者',align:'center',width: 80}
					,{field:'title',title: '活動名'}
					,{field:'customer',title: '顧客社名',width: 300}
					,{field:'discovery_time',title: '発生日時',align:'center',width: 100}
					,{ field: 'expected_time', title: '予定契約時間', width: 110, align: 'center'}
					,{ field: 'expected_amount', title: '予定契約金額', width: 110, align: 'center'}
					,{field:'stage_name',title: '現段階',width: 80, align: 'center'}
					,{fixed:'right',width:132,title: '操作', align:'center',templet: function(d){
							var html = '<div class="layui-btn-group">';
							var btn='<a class="layui-btn layui-btn-xs" lay-event="edit">編集</a>';
							var btn1='<a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="view">詳細</a>';
							var btn2='<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">消除</a>';
							return html+btn+btn1+btn2+'</div>';
					}}			
				]]
			});
			
			table.on('tool(test)', function(obj){
				var data = obj.data; //获得当前行数据
				var layEvent = obj.event;		 
				if(layEvent === 'edit'){ //编辑
					let url = '/customer/chance/chance_add/id/'+data.id;
					tool.side(url);
				}
				if(layEvent === 'view'){ //查看
					let url = '/customer/chance/chance_view/id/'+data.id;
					tool.side(url);
				}
				if(layEvent === 'del'){ //删除
					layer.confirm('この営業活動を消除しますか?', {icon: 3, title:'ヒント'}, function(index){
						let callback = function (e) {
							layer.msg(e.msg);
							if (e.code == 0) {
								layui.pageTable.reload();
							}
						}
						tool.delete('/customer/chance/chance_del',{'id':data.id},callback);
						layer.close(index);
					});
				}
				return false;
			})
			
			//监听搜索提交
			form.on('submit(webform)', function(data) {
				layui.pageTable.reload({
					where: {
						keywords: data.field.keywords,
						stage: data.field.stage,
						uid: data.field.uid,
						start_date: data.field.start_date,
						end_date: data.field.end_date
					},
					page: {
						curr: 1
					}
				});
				return false;
			});
		}
	</script>
{/block}
<!-- /脚本 -->